management:
  server:
    port: ${MANAGEMENT_SERVER_PORT:8084}
  endpoint:
    health:
      show-details: always
      enabled: true
    metrics:
      enabled: true
    info:
      enabled: true
    beans:
      enabled: true
    shutdown:
      enabled: true
  health:
    mail:
      enabled: false
  endpoints:
    web:
      exposure:
        include: info, health, tools
